<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063084247741-6f2enusf4de9trkmh3rqtbg2p565m8ne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR17t2mDIRs3akBc3D2qp6Q67plEFPCD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1063084247741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emtiaz.ios</string>
	<key>PROJECT_ID</key>
	<string>golalita-rewards</string>
	<key>STORAGE_BUCKET</key>
	<string>golalita-rewards.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063084247741:ios:a09824754348cb2b4e85d4</string>
</dict>
</plist>